@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Welcome to my practice project.</h1>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Download">Press to download the test file :)</a>
</div>
